# .gitconfig
[user]
  name = charliestras
  email = charliestras@gmail.com

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
	hooksPath = ~/.git-hooks
	quotepath = false

[pull]
  rebase = false

[push]
  default = simple

[init]
  defaultBranch = main

[alias]
  st = status
  co = checkout
  br = branch
  lg = log --oneline --graph --decorate --all